SQLAlchemy==2.0.49
python-dotenv==1.2.2
fastapi==0.136.1
pydantic-settings==2.14.1
passlib[bcrypt]==1.7.4
bcrypt
pydantic
python-jose
aiosmtplib
email_validator
psycopg2-binary
redis
starlette
uvicorn
websockets